<%- include("partials/header"); -%>

<h1><a href="/" style="text-decoration: none">Home</a></h1>
<h2><a href="/users" style="text-decoration: none">View all user List</a></h2>

<%- include("partials/footer"); -%>
